{% load i18n %}

{% block subject %}
{% blocktrans %}Activation de compte sur {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Vous avez reçu cet e-mail car vous devez terminer le processus d'activation sur {{ site_name }}.{% endblocktrans %}

{% trans "Veuillez vous rendre à la page suivante pour activer le compte :" %}
{{ protocol }}://{{ domain }}/fr/{{ url|safe }}

{% trans "Merci d'utiliser notre site !" %}

{% blocktrans %}L'équipe {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Vous avez reçu cet e-mail car vous devez terminer le processus d'activation sur {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Veuillez vous rendre à la page suivante pour activer le compte :" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/fr/{{ url|safe }}">{{ protocol }}://{{ domain }}/fr/{{ url|safe }}</a></p>

<p>{% trans "Merci d'utiliser notre site !" %}</p>

<p>{% blocktrans %}L'équipe {{ site_name }}{% endblocktrans %}</p>

{% endblock html_body %}
