{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - La tua password è stata modificata con successo!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "La tua password è stata modificata!" %}

{% trans "Grazie per aver utilizzato il nostro sito!" %}

{% blocktrans %}Il team di {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "La tua password è stata modificata!" %}</p>

<p>{% trans "Grazie per aver utilizzato il nostro sito!" %}</p>

<p>{% blocktrans %}Il team di {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
