{% load i18n %}

{% block subject %}
{% blocktrans %}Reimpostazione della password su {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Hai ricevuto questa email perché hai richiesto una reimpostazione della password per il tuo account utente su {{ site_name }}.{% endblocktrans %}

{% trans "Per favore, vai alla seguente pagina e scegli una nuova password:" %}
{{ protocol }}://{{ domain }}/it/{{ url|safe }}
{% trans "Il tuo nome utente, nel caso lo avessi dimenticato:" %} {{ user.get_username }}

{% trans "Grazie per aver utilizzato il nostro sito!" %}

{% blocktrans %}Il team di {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Hai ricevuto questa email perché hai richiesto una reimpostazione della password per il tuo account utente su {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Per favore, vai alla seguente pagina e scegli una nuova password:" %}</p>
<a href="{{ protocol }}://{{ domain }}/it/{{ url|safe }}">{{ protocol }}://{{ domain }}/it/{{ url|safe }}</a>
<p>{% trans "Il tuo nome utente, nel caso lo avessi dimenticato:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Grazie per aver utilizzato il nostro sito!" %}</p>

<p>{% blocktrans %}Il team di {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
