{% load i18n %}

{% block subject %}
{% blocktrans %}Reinicio de contraseña en {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Has recibido este correo electrónico porque solicitaste un reinicio de contraseña para tu cuenta de usuario en {{ site_name }}.{% endblocktrans %}

{% trans "Por favor, accede a la siguiente página y elige una nueva contraseña:" %}
{{ protocol }}://{{ domain }}/es/{{ url|safe }}
{% trans "Tu nombre de usuario, en caso de que lo hayas olvidado:" %} {{ user.get_username }}

{% trans "¡Gracias por utilizar nuestro sitio!" %}

{% blocktrans %}El equipo de {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Has recibido este correo electrónico porque solicitaste un reinicio de contraseña para tu cuenta de usuario en {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Por favor, accede a la siguiente página y elige una nueva contraseña:" %}</p>
<a href="{{ protocol }}://{{ domain }}/es/{{ url|safe }}">{{ protocol }}://{{ domain }}/es/{{ url|safe }}</a>
<p>{% trans "Tu nombre de usuario, en caso de que lo hayas olvidado:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "¡Gracias por utilizar nuestro sitio!" %}</p>

<p>{% blocktrans %}El equipo de {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
