{% load i18n %}

{% block subject %}
{% blocktrans %}Réinitialisation de mot de passe sur {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Vous recevez cet e-mail car vous avez demandé une réinitialisation du mot de passe pour votre compte utilisateur sur {{ site_name }}.{% endblocktrans %}

{% trans "Veuillez vous rendre à la page suivante et choisir un nouveau mot de passe :" %}
{{ protocol }}://{{ domain }}/fr/{{ url|safe }}
{% trans "Votre nom d'utilisateur, au cas où vous l'auriez oublié :" %} {{ user.get_username }}

{% trans "Merci d'utiliser notre site !" %}

{% blocktrans %}L'équipe {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Vous recevez cet e-mail car vous avez demandé une réinitialisation du mot de passe pour votre compte utilisateur sur {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Veuillez vous rendre à la page suivante et choisir un nouveau mot de passe :" %}</p>
<a href="{{ protocol }}://{{ domain }}/fr/{{ url|safe }}">{{ protocol }}://{{ domain }}/fr/{{ url|safe }}</a>
<p>{% trans "Votre nom d'utilisateur, au cas où vous l'auriez oublié :" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Merci d'utiliser notre site !" %}</p>

<p>{% blocktrans %}L'équipe {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
