{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Votre mot de passe a été changé avec succès !{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Votre mot de passe a été changé !" %}

{% trans "Merci d'utiliser notre site !" %}

{% blocktrans %}L'équipe de {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Votre mot de passe a été changé !" %}</p>

<p>{% trans "Merci d'utiliser notre site !" %}</p>

<p>{% blocktrans %}L'équipe de {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}