{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - ¡Tu contraseña ha sido cambiada exitosamente!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "¡Tu contraseña ha sido cambiada!" %}

{% trans "¡Gracias por usar nuestro sitio!" %}

{% blocktrans %}El equipo de {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "¡Tu contraseña ha sido cambiada!" %}</p>

<p>{% trans "¡Gracias por usar nuestro sitio!" %}</p>

<p>{% blocktrans %}El equipo de {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
